html, body {
  margin: 0; }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.over-header {
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1); }

.company-name {
  display: inline-block;
  margin: 0;
  padding: 1rem 0 1rem 0.5rem;
  font-variant: small-caps;
  font-size: 2.5rem; }

.sections-nav__list {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  position: relative;
  top: 2px;
  text-align: left;
  margin: 0;
  max-width: 900px;
  width: 100%;
  padding-left: 0; }

.sections-nav__li {
  text-align: center;
  font-size: 1.85rem;
  font-variant: small-caps;
  padding: 1rem;
  list-style-type: none;
  cursor: pointer; }

.sections-nav__li--selected {
  background-color: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1); }

@media (min-width: 1200px) {
  .sections-nav__list {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    float: left;
    margin: 0 1rem;
    max-width: 150px;
    background-color: transparent;
    box-shadow: none; }

  .sections-nav__li {
    padding: 1rem 0;
    font-size: 2rem; } }
.form {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  padding: 2rem 0;
  width: 100%;
  max-width: 900px; }

.form-division {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  width: 100%;
  opacity: 1;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out; }

.hidden {
  display: none; }

.form-section {
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  text-align: center;
  padding: 1rem 3rem 2rem;
  max-width: 380px;
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1); }

.form-entry {
  display: inline-block;
  position: relative;
  margin-bottom: 1.25rem;
  width: calc(100% - 1rem);
  max-width: 350px; }

.form-section__header {
  display: block;
  text-align: left; }

.form-section__title {
  margin: 0;
  padding: 0.5rem 0;
  display: inline-block;
  font-size: 2rem;
  font-variant: small-caps; }

.form-entry__label, .form-entry__input {
  display: block; }

.form-entry__input {
  width: 100%;
  outline: 0;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1.85rem;
  line-height: 3rem;
  text-align: left; }
  .form-entry__input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .form-entry__input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .form-entry__input:-moz-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .form-entry__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .form-entry__input[required] ~ .form-entry__label::before {
    content: " *";
    position: absolute;
    left: -1rem;
    display: block; }
  .form-entry__input:focus ~ .form-entry__label::after {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    border-top-color: #000; }

.form-entry__label {
  position: relative;
  font-size: 1.35rem;
  text-transform: uppercase;
  text-align: left;
  color: #777; }
  .form-entry__label::after {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    border-top: 1px solid #000;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.15s ease-in;
    -moz-transition: -moz-transform 0.15s ease-in;
    transition: transform 0.15s ease-in; }

.same-address__label {
  padding-left: 1rem;
  display: inline-block;
  font-size: 1.75rem;
  font-variant: small-caps; }

@media (min-width: 600px) {
  .form-division {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row; }

  .form-section {
    -webkit-align-self: auto;
    -moz-align-self: auto;
    align-self: auto;
    -ms-flex-item-align: auto; } }
/* Order Table */
td, tr {
  font-size: 1.5rem; }

td {
  padding: 1rem; }

.products-col {
  width: 200px; }

.product-name {
  font-weight: bold; }

.table__total td {
  text-align: right; }

.form-submit-btn {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  padding: 0.75rem;
  outline: 0;
  border: 0;
  border-radius: 2px;
  background-color: green;
  opacity: 0.85;
  font-variant: small-caps;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  float: right; }
  .form-submit-btn:hover {
    opacity: 1;
    -webkit-transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in; }

body {
  background-color: #f6f6f6; }

.main__container {
  margin: 0 auto; }

/*# sourceMappingURL=styles.css.map */
