.form {
  @include display(flex);
  @include flex-direction(column);
  padding: 2rem 0;
  width: 100%;
  max-width: 900px;
}

.form-division {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(space-around);
  width: 100%;
  opacity: 1;
  border-left: 1px solid rgba(0,0,0,0.1);
  @include transition(opacity 0.1s ease-in-out);
}

.hidden {
  display: none;
}

.form-section {
  @include align-self(center);
  text-align: center;
  padding: 1rem 3rem 2rem;
  max-width: 380px;
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.1);
}

.form-entry {
  @include display(inline-block);
  @include position(relative);
  margin-bottom: 1.25rem;
  width: calc(100% - 1rem);
  max-width: 350px;
}

.form-section__header {
  display: block;
  text-align: left;
}

.form-section__title {
  margin: 0;
  padding: 0.5rem 0;
  @include display(inline-block);
  font-size: 2rem;
  font-variant: small-caps;
}

.form-entry__label, .form-entry__input {
  @include display(block);
}

.form-entry__input {
  width: 100%;
  outline: 0;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  font-size: 1.85rem;
  line-height: 3rem;
  text-align: left;

  @include placeholder {
    color: rgba(0,0,0, 0.3);
  }

  &[required] ~ .form-entry__label::before {
    content: " *";
    @include position(absolute, null null null -1rem);
    @include display(block);
  }

  &:focus ~ .form-entry__label::after {
    @include transform(scaleX(1));
    border-top-color: #000;
  }
}

.form-entry__label {
  @include position(relative);
  font-size: 1.35rem;
  text-transform: uppercase;
  text-align: left;
  color: #777;

  &::after {
    content: "";
    display: block;
    @include position(absolute, -1px null null 0);
    width: 100%;
    border-top: 1px solid #000;
    @include transform(scaleX(0));
    @include transition(transform 0.15s ease-in);
  }
}

.same-address__label {
  padding-left: 1rem;
  display: inline-block;
  font-size: 1.75rem;
  font-variant: small-caps;
}

@media (min-width: $breakpoint-sm) {
  .form-division {
    @include flex-direction(row);
  }
  .form-section {
    @include align-self(auto);
  }
}

/* Order Table */

td, tr {
  font-size: 1.5rem;
}

td {
  padding: 1rem;
}

.products-col {
  width: 200px;
}

.product-name {
  font-weight: bold;
}

.table__total {
  td {
    text-align: right;
  }
}

.form-submit-btn {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  padding: 0.75rem;
  outline: 0;
  border: 0;
  border-radius: 2px;
  background-color: green;
  opacity: 0.85;
  font-variant: small-caps;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
  float: right;

  &:hover {
    opacity: 1;
    @include transition(opacity 0.1s ease-in);
  }
}