.form {
  @include display(flex);
  @include flex-direction(column);
  margin: 2rem auto 0 0;
  width: 100%;
  max-width: 900px;
}

.form-division {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(space-between);
  width: 100%;
  border-left: 1px solid rgba(0,0,0,0.1);
}

.form-section {
  @include display(block);
  text-align: center;
  padding: 0 1rem 1rem;
}

.form-entry {
  @include display(inline-block);
  @include position(relative);
  margin-bottom: 1.25rem;
  width: calc(100% - 1rem);
  max-width: 350px;
}

.form-section__header {
  text-align: left;
}

.form-section__title {
  margin: 0;
  padding: 1rem 0;
  @include display(inline-block);
  font-size: 2rem;
  font-variant: small-caps;
}

.form-entry__label, .form-entry__input {
  @include display(block);
}

.form-entry__input {
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-size: 1.85rem;
  line-height: 3rem;
  text-align: right;

  @include placeholder {
    color: rgba(0,0,0, 0.2);
  }

  &:focus ~ .form-entry__label::after {
    @include transform(scaleX(1));
    border-top-color: #000;
  }
}

.form-entry__label {
  @include position(relative);
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: left;

  &::after {
    content: "";
    display: block;
    @include position(absolute, -1px null null 0);
    width: 100%;
    border-top: 1px solid #000;
    @include transform(scaleX(0));
    @include transition(transform 0.20s ease-in);
  }
}

.same-address__label {
  padding-left: 1rem;
  display: inline-block;
  font-size: 1.75rem;
  font-variant: small-caps;
}

@media (min-width: $breakpoint-sm) {
  .form-division {
    @include flex-direction(row);
  }
}